<?xml version="1.0" encoding="utf-8"?>

<beans>

    <bean id="testServiceImpl" class="com.mini.test.TestServiceImpl">

        <property type="String" name="userName" value="iyb-houjinyi"/>

        <constructor-arg type="String" name="passWord" value="hjy19951025!"></constructor-arg>

        <property type="com.mini.test.AServiceImpl" name="aServiceImpl" ref="aServiceImpl"/>
    </bean>

    <bean id="aServiceImpl" class="com.mini.test.AServiceImpl">

        <property type="String" name="userName" value="A-houjinyi"/>

        <constructor-arg type="String" name="passWord" value="hjy19951025!"></constructor-arg>

        <property type="com.mini.test.BServiceImpl" name="bServiceImpl" ref="bServiceImpl"/>

    </bean>

    <bean id="bServiceImpl" class="com.mini.test.BServiceImpl">

        <property type="String" name="userName" value="B-houjinyi"/>

        <constructor-arg type="String" name="passWord" value="hjy19951025!"></constructor-arg>

        <property type="com.mini.test.TestServiceImpl" name="testServiceImpl" ref="testServiceImpl"/>

    </bean>

    <bean id="personService" class="com.mini.test.PersonServiceImpl">



    </bean>


</beans>


