<?xml version="1.0" encoding="utf-8"?>

<beans>

    <bean id="testServiceImpl" class="com.mini.test.TestServiceImpl">

        <property type="String" name="userName" value="iyb-houjinyi"/>

        <constructor-arg type="String" name="passWord" value="hjy19951025!"></constructor-arg>

        <property type="com.mini.test.AServiceImpl" name="aServiceImpl" ref="aServiceImpl"/>
    </bean>

    <bean id="aServiceImpl" class="com.mini.test.AServiceImpl">

        <property type="String" name="userName" value="A-houjinyi"/>

        <constructor-arg type="String" name="passWord" value="hjy19951025!"></constructor-arg>

        <property type="com.mini.test.BServiceImpl" name="bServiceImpl" ref="bServiceImpl"/>

    </bean>

    <bean id="bServiceImpl" class="com.mini.test.BServiceImpl">

        <property type="String" name="userName" value="B-houjinyi"/>

        <constructor-arg type="String" name="passWord" value="hjy19951025!"></constructor-arg>

        <property type="com.mini.test.TestServiceImpl" name="testServiceImpl" ref="testServiceImpl"/>

    </bean>
    <bean id="autowiredAnnotationBeanPostProcessor" class="com.mini.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

    <bean id="personService" class="com.mini.test.PersonServiceImpl">
    </bean>

<!--    <bean id="dataSource" class="com.mini.jdbc.datasource.SingleConnectionDataSource">-->
<!--        <property type="String" name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
<!--        <property type="String" name="url" value="jdbc:mysql://127.0.0.1:3306/test"/>-->
<!--        <property type="String" name="username" value="root"/>-->
<!--        <property type="String" name="password" value="root"/>-->
<!--    </bean>-->

    <bean id="dataSource" class="com.mini.jdbc.pool.PooledDataSource">
        <property type="String" name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property type="String" name="url" value="jdbc:mysql://127.0.0.1:3306/test"/>
        <property type="String" name="username" value="root"/>
        <property type="String" name="password" value="root"/>
<!--        <property type="int" name="initialSize" value="3"/>-->
    </bean>

    <bean id="studentService" class="com.mini.test.service.StudentServiceImpl">
    </bean>
    <bean id="jdbcTemplate" class="com.mini.jdbc.core.JdbcTemplate">
        <property type="javax.sql.DataSource" name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="sqlSessionFactory" class="com.mini.batis.DefaultSqlSessionFactory" init-method="init">
        <property type="String" name="mapperLocations" value="resources/mapper"></property>
    </bean>

    <bean id="messageConverter" class="com.mini.http.converter.DefaultHttpMessageConverter">
        <property type="com.mini.util.ObjectMapper" name="objectMapper" ref="objectMapper"/>
    </bean>

    <bean id="webBindingInitializer" class="com.mini.test.web.custom.DateInitializer">
    </bean>

    <bean id="handlerMapping" class="com.mini.web.method.annotation.RequestMappingHandleMapping"/>

    <bean id="objectMapper" class="com.mini.util.DefaultObjectMapper" >
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>>

    <bean id="handlerAdapter" class="com.mini.web.method.annotation.RequestMappingHandlerAdapter">
        <property type="com.mini.http.converter.HttpMessageConverter" name="messageConverter" ref="messageConverter"/>
        <property type="com.mini.web.bind.support.WebBindingInitializer" name="webBindingInitializer" ref="webBindingInitializer"/>
    </bean>

    <bean id="viewResolver" class="com.mini.web.servlet.view.InternalResourceViewResolver" >
        <property type="String" name="viewClassName" value="com.mini.web.servlet.view.JstlView" />
        <property type="String" name="prefix" value="/jsp/" />
        <property type="String" name="suffix" value=".jsp" />
    </bean>

    <bean id="action" class="com.mini.test.service.Action" />

<!--    <bean id="action" class="com.mini.aop.ProxyFactoryBean" >-->
<!--        <property type="java.lang.Object" name="target" ref="realaction"/>-->
<!--        <property type="String" name="interceptorName" value="advisor"/>-->
<!--    </bean>-->

    <bean id="myInterceptor" class="com.mini.test.service.MyInterceptor" />

    <bean id="myBeforeAdvice" class="com.mini.test.service.MyBeforeAdvice" />

    <bean id="advisor" class="com.mini.aop.NameMatchMethodPointcutAdvisor">
        <property type="com.mini.aop.Advice" name="advice" ref="myBeforeAdvice"/>
        <property type="String" name="mappedName" value="do*"/>
    </bean>

    <bean id="autoProxyCreator" class="com.mini.aop.framework.autoproxy.BeanNameAutoProxyCreator" >
        <property type="String" name="pattern" value="action*" />
        <property type="String" name="interceptorName" value="advisor" />
    </bean>



</beans>


